<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Group</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees;">
        <td>{{ employee.id }}</td>
        <td>{{ employee.username }}</td>
        <td>{{ employee.email}}</td>
        <td>{{ employee.group}}</td>
    </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="fetchEmployees()"
    >
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
            (ngModelChange)="fetchEmployees()">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
    </select>
</div>
